In [1]:
# importing pandas package
import pandas as pd
# assign dataset
csvData = pd.read_csv("C:/Users/Mangesh/Downloads/Data sets-20240124T042619Z-001/Data setsrecords.csv")
# displaying unsorted data frame
print("\nBefore sorting:")
print(csvData)
# sort data frame
#csvData.sort_values(["Salary"], axis=0, ascending=[False], inplace=True)
csvData.sort_values(["Salary"],axis=0, ascending=[True], inplace=True)
# displaying sorted data frame
print("\nAfter sorting:")
print(csvData)

Before sorting:
   ID    Name    Role  Salary
0   1  Pankaj  Editor   10000
1   2    Lisa  Editor    8000
2   3   David  Author    6000
3   4     Ram  Author    4000
4   5  Anupam  Author    5000

After sorting:
   ID    Name    Role  Salary
3   4     Ram  Author    4000
4   5  Anupam  Author    5000
2   3   David  Author    6000
1   2    Lisa  Editor    8000
0   1  Pankaj  Editor   10000

In [2]:
import pandas as pd
df = pd.read_csv("C:/Users/Mangesh/Downloads/Data sets-20240124T042619Z-001/Data sets/records.csv")
print(df)
print(df.T)
print(df.shape)
print(df.size)

   ID    Name    Role  Salary
0   1  Pankaj  Editor   10000
1   2    Lisa  Editor    8000
2   3   David  Author    6000
3   4     Ram  Author    4000
4   5  Anupam  Author    5000
             0       1       2       3       4
ID           1       2       3       4       5
Name    Pankaj    Lisa   David     Ram  Anupam
Role    Editor  Editor  Author  Author  Author
Salary   10000    8000    6000    4000    5000
(5, 4)
20

In [4]:
import pandas as pd
df = pd.read_csv("C:/Users/Mangesh/Downloads/Data sets-20240124T042619Z-001/Data sets/records.csv")
print(df)
print(df.shape)
print(df.size)

   ID    Name    Role  Salary
0   1  Pankaj  Editor   10000
1   2    Lisa  Editor    8000
2   3   David  Author    6000
3   4     Ram  Author    4000
4   5  Anupam  Author    5000
(5, 4)
20